<div class="container">
 
    <div class="add">
        <button type="button" class="btn btn-primary btn-sm space" data-toggle="modal" data-target="#addModal">
            Add new book
        </button>

        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#addCategoryModal">
            Add new Category
        </button>
    </div>

    <form (keyup)="search()">
      <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="button-addon2" [(ngModel)]="searchStr" name="search">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Search</button>
          </div>
      </div>
    </form>

    <div class="spaceBottom">
        <small id="emailHelp" class="form-text text-muted">Search by name, author or category</small>
    </div>

    <div *ngIf="books.length > 0">
      <table class="table table-striped">
          <thead class="thead-dark">
              <tr>
                  <th>Name</th>
                  <th>Author</th>
                  <th>Category</th>
                  <th>Published Date</th>
                  <th>Available</th>
                  <th></th>
              </tr>
          </thead>


          <tbody>
              <tr *ngFor="let book of books">
                  <td>{{book.name}}</td>
                  <td>{{book.author}}</td>
                  
                  <td>{{book.category_name}}</td>

                  <td>{{book.published_date}}</td>

                  <td *ngIf="book.available == 0">
                    <button type="button" class="btn btn-danger btn-sm" title="Change status" (click)="changeStatus(1, book.id)"><i class="fas fa-ban"></i></button>
                  </td>
                  <td *ngIf="book.available == 1">
                    <button type="button" class="btn btn-success btn-sm" title="Change status" (click)="changeStatus(0, book.id)"><i class="fas fa-check-circle"></i></button>
                  </td>

                  <td>
                      <button class="btn btn-primary btn-sm space" (click)="getBook(book.id)"  data-toggle="modal" data-target="#updateModal" title="Update"><i class="fas fa-edit"></i></button>
                      <button class="btn btn-danger btn-sm" (click)="deleteBook(book.id)" title="Delete"><i class="fas fa-trash-alt"></i></button>
                  </td>
              </tr>
          </tbody>
      </table>
    </div>

    <div *ngIf="books.length === 0">
      <p>No books found</p>
    </div>
  
</div>


<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New book</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form (ngSubmit)="postBook()">
            <div class="modal-body">


                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" [(ngModel)]="book.name" name="name" placeholder="Name" required>
                    </div>

                    <div class="form-group">
                        <label>Author</label>
                        <input type="text" class="form-control" [(ngModel)]="book.author" name="author" placeholder="Author" required>
                    </div>

                  
                    <div class="form-group">
                        <label>Published date</label>
                        <input type="date" class="form-control" [(ngModel)]="book.published_date" name="published_date" placeholder="Published date" required>
                    </div>
                    
                    <div class="form-group">
                        <label>Category</label>
                        <select name="" class="form-control" [(ngModel)]="book.category_id" name="category_id">
                            <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
                        </select>
                    </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
          </form>
        </div>
    </div>
</div>





<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update book</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form (ngSubmit)="updateBook(upBook.id)">
            <div class="modal-body">

                 
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" [(ngModel)]="upBook.name" name="name" placeholder="Name" required>
                    </div>

                    <div class="form-group">
                        <label>Author</label>
                        <input type="text" class="form-control" [(ngModel)]="upBook.author" name="author" placeholder="Author" required>
                    </div>

                  
                    <div class="form-group">
                        <label>Published date</label>
                        <input type="date" class="form-control" [(ngModel)]="upBook.published_date" name="published_date" placeholder="Published date" required>
                    </div>
                    
                    <div class="form-group">
                        <label>Category</label>
                        <select name="" class="form-control" [(ngModel)]="upBook.category_id" name="category_id">
                            <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
                        </select>
                    </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
          </form>
        </div>
    </div>
</div>
















<div class="modal fade" id="addCategoryModal" tabindex="-1" role="dialog" aria-labelledby="addCategoryModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New category</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form (ngSubmit)="postCategory()">
            <div class="modal-body">

                 
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" [(ngModel)]="category.name" name="name" placeholder="Name" required>
                    </div>

                    <div class="form-group">
                        <label>Description</label>
                        <input type="text" class="form-control" [(ngModel)]="category.description" name="description" placeholder="Description" required>
                    </div>

                  

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
          </form>
        </div>
    </div>
</div>



